footer{
    padding: 2vmax;
    background-color: rgb(34, 33, 33);
    color: white;
    display: flex;
    align-items: center;
}
.leftfooter{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leftfooter > h4{
    font-size: 1vmax;
}
.leftfooter > p{
    font-size: 1.2vmax;
}
.leftfooter > img{
    width: 10vmax;
    margin: 1vmax;
    cursor: pointer;
}
.midfooter{
    width: 60%;
    text-align: center;
}
.midfooter > h1{
    color: rgb(2, 104, 238);
    font-size: 3.5vmax;
}
.midfooter > p{
    max-width: 60%;
    margin: 1vmax auto;
}
.rightfooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rightfooter > h4{
    font-size: 1.4vmax;
    text-decoration: underline;
}
.rightfooter > a{
    text-decoration: none;
    font-size: 1.3vmax;
    transition: all 0.5s;
    color: white;
    margin: 0.5vmax;
}
.rightfooter > a:hover{
    color: rgb(2, 104, 238);
}